<h1>Editar minha conta</h1>
<section>
<%= form_for @user, url: {action: 'update'}, :method => :POST do |f| %>
    <div id="form-inputs">
        
        
        <%=image_tag(@user.image, size:150)%>
        <br>
        
        <label for="image" class="wig-formlabel">Imagem de perfil</label>    
        <%= f.file_field :image, class: "wig-textbox", placeholder: "Coloque sua imagem" %>
        
        <label for="name" class="wig-formlabel">Nome</label>
        <%= f.text_field :name, class: "wig-textbox", value: @user.name %>
        
        <label for="email" class="wig-formlabel">E-mail</label>
        <%=f.email_field :email, class: "wig-textbox", value: @user.email %>
        
        <label for="password" class="wig-formlabel">Digite sua senha para confirmar modificações</label>
        <%= f.password_field :password_digest, class: "wig-textbox", placeholder: "Escolha uma senha segura" %>
        
        <% if user_logged.is_provider != true %>
        <br><p style="font-size: small;">Adicionar permissões de provedor? <a style="color: #f0b567;"href="<%= url_for controller: 'account', action: 'add_provider_permission'%>">Clique aqui</a></p>
        <%end%>
        
        
    </div>
    
    <%= f.submit "Salvar", class: "wig-button" %>
    <%= flash_message.html_safe %>

<% end %>
</section>