<div class="container" id="flex-container">     
    <div class="col-md-4" id="signup">
        <section class="login-form">
                <div id="logo-signup">
                    <%=image_tag("wig-logo-signup.png", class: "img-responsive")%>
                </div>
                <h1> <%= @title%> </h1>
                <%= flash_message.html_safe %>
                <%=form_for :establishment, url: {controller: 'establishment', action: 'create'}, :method => :POST do |e| %>
                    <div id="form-inputs">
                        <label for="name" class="wig-formlabel">Nome</label>
                        <%= e.text_field :name, class: "wig-textbox", placeholder: "Nome do estabelecimento" %>
                        
                        <label for="email" class="wig-formlabel">E-mail</label>
                        <%= e.email_field :email, class: "wig-textbox", placeholder: "Email de contato"%>
                        
                        <label for="cnpj" class="wig-formlabel">CNPJ</label>
                        <%= e.text_field :cnpj, class: "wig-textbox", placeholder: "CNPJ"%>
                        
                        <label for="address" class="wig-formlabel">Endereço</label>
                        <%= e.text_field :address, class: "wig-textbox", placeholder: "Endereço"%>
                        
                        <label for="website" class="wig-formlabel">Website</label>
                        <%= e.text_field :website, class: "wig-textbox", placeholder: "Website"%>
                    </div>
                    <%= e.submit "Criar estabelecimento", class: "wig-button" %>
                <%end%>
                
        </section>  
    </div>
</div>