<h1>Seu ambiente ideal</h1>
<p>Encontre estabelecimentos que combinem com seu astral. Quais tipos de ambiente são mais agradáveis?</p>
<%= flash_message.html_safe %>

<%= form_tag action: 'register_c_preferences_ambient_create', method: 'POST' do |f| %>

    <!--<= select_tag :music, options_from_collection_for_select(Music.all, :id, :name), multiple: true %> -->
    <div class="wig-choices-container">
        <% @checkboxes.each_pair do |id, name| %>
            <div class="wig-pref-choice wig-ambient">
                <%= check_box("ambient", "type", {:multiple => true }, id, nil) %>
                <label><%= name %></label>
            </div>
        <% end %>
    </div>
    
    <div class="wig-pref-buttons">
        <%= submit_tag "Continuar", class: "wig-button" %>
    </div>
<% end %>