<%=form_for :user, url: {action: 'register_create_account'}, :method => :POST do |f| %>
    <h1>Cadastro</h1>
    <%= flash_message.html_safe %>
    <div id="form-inputs">
        <label for="image" class="wig-formlabel">Imagem de perfil</label>    
        <%= f.file_field :image, class: "wig-textbox", placeholder: "Imagem de perfil" %>
        
        <label for="name" class="wig-formlabel">Nome</label>
        <%= f.text_field :name, class: "wig-textbox", placeholder: "Seu nome" %>
        
        <label for="email" class="wig-formlabel">E-mail</label>
        <%=f.email_field :email, class: "wig-textbox", placeholder: "Seu email"%>
        
        <label for="password" class="wig-formlabel">Senha</label>
        <%= f.password_field :password_digest, class: "wig-textbox", placeholder: "Escolha uma senha segura" %>
    
    </div>
    <%= f.submit "Continuar", class: "wig-button" %>
<%end%>
