<h1>Seu ambiente</h1>
<p>Descreva corretamente o tipo de ambiente do seu estabelecimento para que outros usuários possam encontra-lo. Portanto qual tipo de ambiente seu estabelecimento mais se encaixa?</p>
<%= flash_message.html_safe %>

<%= form_tag({:action=>'register_speciality_ambient_create'}, {:method=>'POST'}) do |f| %>

    <div class="wig-choices-container">
        <% @checkboxes.each_pair do |id, array| %>
            <div class="wig-pref-choice wig-ambient">
                <%= check_box_tag("ambient[]", id, array[1]) %>
                <label><%= array[0] %></label>
            </div>
        <% end %>
    </div>
    
    <div class="wig-pref-buttons">
        <%= submit_tag "Continuar", class: "wig-button" %>
    </div>
<% end %>
