<div class="container" id="flex-container">     
    <div class="col-md-4" id="signup">
        <section class="login-form">
                <div id="logo-signup">
                    <%=image_tag("wig-logo-signup.png", class: "img-responsive")%>
                </div>
    
                <h1><%= @title %></h1>
                <%= flash_message.html_safe %>
                <center>
                    <%= form_tag action: 'register_p_speciality_food_create', method: 'POST' do |f| %>
                        <label for="food" class="wig-formlabel">Selecione um ambiente:</label><br>
                        <%= select_tag :food, options_from_collection_for_select(Food.all, :id, :name), multiple: true %>
                        <%= submit_tag "Continuar", class: "wig-button" %>
                    <% end %>
                </center>
        </section>  
    </div>
</div>