<!-- LAYOUT PADRÃO DA APLICAÇÃO - NÃO MEXER -->

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title><%= @title %> - WhereIGo</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'jquery-3.2.1.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap.min.css', media: 'all' %>
    <%= stylesheet_link_tag    'font-awesome.min.css', media: 'all' %>
    <%= stylesheet_link_tag    'wig.css', media: 'all' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md wig-navbar">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <form class="form-inline mt-2 mt-md-0 mr-auto" action="/search/establishments">
            <a class="navbar-brand" href="<%= url_for controller: "dashboard", action: "preference_establishments_result" %>">
              <%= image_tag("wig-logo-large.png", class: "img-responsive wig-navbar-brand", id: "logo-navbar") %>
            </a>
            <input class="form-control mr-sm-2 wig-textbox wig-search" type="text" placeholder="Encontrar bares e restaurantes..." aria-label="Search" name="filter">
          </form>
          
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= user_name %></a>
              <div class="dropdown-menu dropdown-menu-right wig-dropdown" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="<%= url_for controller: "account", action: "edit" %>">Editar minha conta</a>
                <a class="dropdown-item" href="<%= url_for controller: "account", action: "logout" %>">Sair</a>
              </div>
            </li>
          </ul>
        </div>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </header>
    <div class="container-fluid wig-bg">
      <div class="row">
        <aside class="wig-sidebar">
          <div class="sidebar-userpic">
            <a href="<%= url_for controller: 'account', action: 'edit' %>"><%= image_tag(user_image, class: "sidebar-userpic", id:"pic") %></a>
          </div>
          
          
          <ul class="nav nav-pills flex-column nav-buttons">
            <a href="<%= url_for controller: "dashboard", action: "preference_establishments_result" %>" title="Estabelecimentos recomendados">
              <li class="nav-item wig-sidebar-icon">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </li>
            </a>
            <a href="<%= url_for controller: "dashboard", action: "all_establishments" %>" title="Todos os estabelecimentos">
              <li class="nav-item wig-sidebar-icon">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
              </li>
            </a>
            <% if user_logged.is_provider == true %>
              <a href="<%= url_for controller: "dashboard", action: "my_establishments" %>" title="Meus estabelecimentos">
                <li class="nav-item wig-sidebar-icon">
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                </li>
              </a>
            <% end %>
            <a href="#" title="Minhas avaliações">
              <li class="nav-item wig-sidebar-icon">
                <i class="fa fa-comments" aria-hidden="true"></i>
              </li>
            </a>
            <a href="<%= url_for controller: "account", action: "register_preferences_music" %>" title="Configurar preferências">
              <li class="nav-item wig-sidebar-icon">
                <i class="fa fa-gear" aria-hidden="true"></i>
              </li>
            </a>
          </ul>
          <div></div>
        </aside>
        <section class="wig-align">
          <div class="wig-main">
            <%= yield %>
          </div>
        </section>
        
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() { showNavbar() });
            $(document).scroll(function() { showNavbar() });

            function showNavbar() {
                var scroll = $(window).scrollTop();
                if(scroll > 0) {
                    $("header").addClass("wig-navbar-homepage-active");
                    //$("#navbar").removeClass("wig-navbar-homepage");
                } else {
                    $("header").removeClass("wig-navbar-homepage-active");
                    $("header").addClass("wig-navbar-homepage");
                }
            }
    </script>
  </body>

</html>


