


<div class="container" id="flex-container">     
    <div class="col-md-4" id="signup">
        <section class="login-form">
            <form method="post" action="#" role="login">
                <div id="logo-signup">
                    <img src="images/wig-logo-signup.png" class="img-responsive" alt="" />
                </div>
    
                <h1>Cadastro</h1>
                <div id="form-inputs">
                    <label for="name" class="wig-formlabel">Nome</label>
                    <input type="text" name="name" required class="wig-textbox" placeholder="Mamarquitos" />
    
                    <label for="email" class="wig-formlabel">E-mail</label>
                    <input type="email" name="email" required class="wig-textbox" placeholder="você@exemplo.com" />
                    
                    <label for="password" class="wig-formlabel">Senha</label>
                    <input type="password" class="wig-textbox" id="password" required placeholder="Escolha uma senha segura"/>
    
                    <label for="password-confirm" class="wig-formlabel">Confirmar senha</label>
                    <input type="password" class="wig-textbox" name="password-confirm" required placeholder="Digite a senha novamente"/>
                
                <%=form_for :client, :url => url_for(:action => 'create_client', :controller => 'register') do |f| %>
                Nome
                <%=f.text_field :name %>
                </br>
                Email
                <%=f.email_field :email %>
                </br>
                Senha
                <%=f.password_field :password_digest %>
                </br>
                Confirmar senha
                <input type="password" name="confirmation-password"/>
                </br>
                <%= f.submit "Cadastrar" %>
                <%end%>
                
                </div>
    
                <button type="submit" name="go" class="wig-button" id="login-button">Criar conta</button>
            </form>
        </section>  
    </div>
</div>