<br/><br/><br/><br/><br/><br/>
<h1>Estabelecimentos</h1>
<ol>
    <% @establishments.each do |e| %>
        <li>
            <a href="<%=url_for(controller: "establishment", action: "show", id: e.id) %>"><%= e.name %></a>
            <a href="<%=url_for(controller: "establishment", action: "user_review", review: true, id: e.id) %>">UP</a>
            <a href="<%=url_for(controller: "establishment", action: "user_review", review: false, id: e.id) %>">DOWN</a>
            <%= @ups %>
            <%= @downs %>
        </li>
    <% end %>
</ol>
<%= link_to 'Novo estabelecimento', 'establishments/new', class: 'wig-button' %>