<div class="row">
    <section class="col-md-8">
        <h1><%= @e.name %></h1>
        <div class="wig-tag">mpb</div>
        <div class="wig-tag">comida brasileira</div>
        <div class="wig-tag">ambiente familiar</div>
        <p class="wig-description"><%= @e.description%></p>
        
        <div class="wig-establishment-map"></div>

        <h2>Comentários</h2>

        <% @comments.each do |c| %>
            <div class="wig-comment">
                <div class="row">
                    <div class="col-md-1">
                        <%=image_tag(c[1], class:"wig-comment-userpic")%>
                    </div>
                    <div class="col-md-11">
                        <h4><%= c[0] %></h4>
                        <p><%= c[2] %></p>
                    </div>
                </div>
            </div>
        <% end %>

        <%=form_for :establishment_comment, url: {action: 'user_comment_establishment'}, :method => :POST do |e| %>
            <div id="form-inputs">
                <%= e.text_area :comment, class: "wig-textbox", placeholder: "Digite aqui seu comentário" %>
            </div>
            <%= e.submit "Comentar", class: "wig-button" %>

        <% end %>
 <%= flash_message.html_safe %>        
    </section>
    <aside class="col-md-4">
        <div class="wig-establishment-pic">
            <%=image_tag(@e.image, class:"wig-establishment-pic")%>
        </div>
        <div class="wig-establishment-info">
            <ul>
                <li><div class="info-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div><%= @e.address %></li>
                <li><div class="info-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>(81) 3498-3298</li>
                <li><div class="info-icon"><i class="fa fa-envelope-open" aria-hidden="true"></i></div><%= @e.email %></li>
                <li><div class="info-icon"><i class="fa fa-globe" aria-hidden="true"></i></div><%= @e.website %></li>
            </ul>
        </div>

        <div class="wig-review">
            <h3>Avalie este estabelecimento</h3>
            <div class="wig-review-box">
                <div class="wig-thumbs">
                    <a href="<%= url_for(controller: "dashboard_client", action: "user_review_establishment", review: true, id: @e.id) %>" id="review-true">
                        <div class="wig-review-thumb" >
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="<%= url_for(controller: "dashboard_client", action: "user_review_establishment", review: false, id: @e.id) %>" id="review-false">
                        <div class="wig-review-thumb">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                
                <div class="wig-percentbar" data-toggle="tooltip" data-placement="bottom" title="">
                    <div id="positive"></div>
                    <div id="percent"><%= @rating_percentage %> (<%= @count_reviews %> votos)</div>
                </div>
            </div>
        </div>
    </aside>
</div>
<script>
    function setPercentBarWidth() {
        $("#positive").css("width", $("#percent").html());
    }
    function setExistingReview() {
        <% if @user_review_selected == true %>
            $("#review-true").addClass("wig-thumbs-active");
            console.log("true");
        <% end %>
        <% if @user_review_selected == false %>
            $("#review-false").addClass("wig-thumbs-active");
            console.log("false");
        <% end %>
    }
    $(document).ready(function() { 
        setPercentBarWidth();
        setExistingReview();
    });
    
</script>
