<h1><%= @e.name %></h1>
<p>Endereço: <%= @e.address %></p>
<p>Contato: <%= @e.email %></p>
<p>Site: <%= @e.website %></p>

<h2>Avaliação</h2>
<p>Gostou desse estabelecimento?</p>
<a href="<%=url_for(controller: "dashboard_client", action: "user_review_establishment", review: true, id: @e.id) %>">UP</a>
<a href="<%=url_for(controller: "dashboard_client", action: "user_review_establishment", review: false, id: @e.id) %>">DOWN</a>
<%= @rating_percentage%>