

<div class="row">
    <section class="col-md-8">
        <h1><%= @e.name %></h1>
        <p>Endereço: <%= @e.address %></p>
        <p>Contato: <%= @e.email %></p>
        <p>Site: <%= @e.website %></p>
        
        
    </section>
    <aside class="col-md-4">
        <div class="wig-review">
            <h3>Avalie este estabelecimento</h3>
            
            <div class="wig-review-box">
                <div class="wig-thumbs">
                    <a href="<%= url_for(controller: "dashboard_client", action: "user_review_establishment", review: true, id: @e.id) %>" id="review-true">
                        <div class="wig-review-thumb" >
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="<%= url_for(controller: "dashboard_client", action: "user_review_establishment", review: false, id: @e.id) %>" id="review-false">
                        <div class="wig-review-thumb">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                
                <div class="wig-percentbar" data-toggle="tooltip" data-placement="bottom" title="">
                    <div id="positive"></div>
                    <div id="percent"><%= @rating_percentage %></div>
                </div>
            </div>
        </div>
    </aside>
</div>
<script>
    function setPercentBarWidth() {
        $("#positive").css("width", $("#percent").html());
    }
    function setExistingReview() {
        <% if @user_review_selected == true %>
            $("#review-true").addClass("wig-thumbs-active");
            console.log("true");
        <% end %>
        <% if @user_review_selected == false %>
            $("#review-false").addClass("wig-thumbs-active");
            console.log("false");
        <% end %>
    }
    $(document).ready(function() { 
        setPercentBarWidth();
        setExistingReview();
    });
    
</script>