<div class="row">
    <section class="col-md-12"><%= flash_message.html_safe %></section>
    <section class="col-md-8">
        <h1>Todos os bares e restaurantes</h1>
        <% @establishments.each do |e| %>
            <div class="wig-dashboard-card">
                <a href="<%= url_for action: "show_establishment", id: e.id %>">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="wig-establishment-picture"><%=image_tag(e.image, class:'wig-establishment-picture')%></div>
                        </div>
                        <div class="col-md-10" id="lulu">
                            <h3><%= e.name %></h3>
                            <% if e.description != nil %>
                                <% if (e.description.length > 245) %>
                                    <p><%= e.description[0..242] + "..." %></p>
                                <% else %>
                                    <p><%= e.description %></p>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </a>
            </div>
        <% end %>
    </section>
    <aside class="col-md-4">
        
    </aside>
</div>