<h1>Novo estabelecimento</h1>
<%=form_for :establishment, url: {action: 'create_establishment'}, :method => :POST do |e| %>
    <div id="form-inputs">
        <label for="image" class="wig-formlabel">Imagem do estabelecimento</label>    
        <%= e.file_field :image, class: "wig-textbox", placeholder: "Coloque sua imagem" %>
        
        <label for="name" class="wig-formlabel">Nome</label>
        <%= e.text_field :name, class: "wig-textbox", placeholder: "Nome do estabelecimento" %>
        
        <label for="address" class="wig-formlabel">Endereço</label>
        <%= e.text_field :address, class: "wig-textbox", placeholder: "Endereço"%>
        
        <label for="description" class="wig-formlabel">Descrição</label>
        <%= e.text_area :description, class: "wig-textbox", placeholder: "Descrição do estabelecimento"%>
        
        <label for="email" class="wig-formlabel">E-mail</label>
        <%= e.email_field :email, class: "wig-textbox", placeholder: "Email de contato"%>
                
        <label for="website" class="wig-formlabel">Website</label>
        <%= e.text_field :website, class: "wig-textbox", placeholder: "Website"%>
    </div>
    <%= e.submit "Criar estabelecimento", class: "wig-button" %>
    <%= flash_message.html_safe %>
<%end%>
