<div class="row">
    <section class="col-md-8">
        <h1><%= @e.name %> <%if user_is_host_? %> 
            <a href="<%= url_for controller: "dashboard", action: "edit_my_establishment", id: @e %>" title="" class="wig-control-button">
                <i class="fa fa-gear" aria-hidden="true"></i> Editar
            </a>
            <% end %>
        </h1>
        <% if @food_tag != [] %>
            <% @food_tag.each do |ft| %>
                <div class="wig-tag wig-food"><%= ft %></div>
            <%end%>
        <%end%>
        <% if @music_tag != [] %>
            <% @music_tag.each do |mt| %>
                <div class="wig-tag wig-music"><%= mt %></div>
            <%end%>
        <%end%>
        <% if @ambient_tag != [] %>
            <% @ambient_tag.each do |at| %>
                <div class="wig-tag wig-ambient"><%= at %></div>
            <%end%>
        <%end%>
        <p class="wig-description"><%= @e.description%></p>
        
        <div class="wig-establishment-map" id="map"></div>

        <h2>Comentários</h2>

        <% @comments.each do |c| %>
            <div class="wig-comment">
                <div class="row">
                    <div class="col-md-1">
                        <%=image_tag(c[1], class:"wig-comment-userpic")%>
                    </div>
                    <div class="col-md-11">
                        <h4><%= c[0] %></h4>
                        <p><%= c[2] %></p>
                    </div>
                </div>
            </div>
        <% end %>

        <%=form_for :establishment_comment, url: {action: 'user_comment_establishment'}, :method => :POST do |e| %>
            <div id="comment-area">
                <%= e.text_area :comment, class: "wig-textbox", placeholder: "Digite aqui seu comentário" %>
            </div>
            <%= e.submit "Comentar", class: "wig-button" %>

        <% end %>
        <%= flash_message.html_safe %>        
    </section>
    <aside class="col-md-4">
        <div class="wig-establishment-pic">
            <%=image_tag(@e.image, class:"wig-establishment-pic")%>
        </div>
        <div class="wig-establishment-info">
            <ul>
                <% if @e.address %>
                    <li><div class="info-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div><%= @e.address %></li>
                <% end %>
                <li><div class="info-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>203920300</li>
                <% if @e.email %>
                    <li><div class="info-icon"><i class="fa fa-envelope-open" aria-hidden="true"></i></div><%= @e.email %></li>
                <% end %>
                <% if @e.website %>
                    <li><div class="info-icon"><i class="fa fa-globe" aria-hidden="true"></i></div><%= @e.website %></li>
                <% end %>
            </ul>
        </div>

        <div class="wig-review">
            <h3>Avalie este estabelecimento</h3>
            <div class="wig-review-box">
                <div class="wig-thumbs">
                    <a href="<%= url_for(controller: "dashboard", action: "user_review_establishment", review: true, id: @e.id) %>" id="review-true">
                        <div class="wig-review-thumb" >
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="<%= url_for(controller: "dashboard", action: "user_review_establishment", review: false, id: @e.id) %>" id="review-false">
                        <div class="wig-review-thumb">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                
                <div class="wig-percentbar" data-toggle="tooltip" data-placement="bottom" title="">
                    <div id="positive"></div>
                    <div id="percent"><%= @rating_percentage %></div> 
                    <div style="font-size: 10px;">(<%= @count_reviews %> votos)</div>
                </div>
            </div>
        </div>
    </aside>
</div>
<script>
    function setPercentBarWidth() {
        $("#positive").css("width", "<%= @rating_percentage %>");
    }
    function setExistingReview() {
        <% if @user_review_selected == true %>
            $("#review-true").addClass("wig-thumbs-active");
        <% end %>
        <% if @user_review_selected == false %>
            $("#review-false").addClass("wig-thumbs-active");
        <% end %>
    }
    $(document).ready(function() { 
        setPercentBarWidth();
        setExistingReview();
    });
    
    function initMap() {
        var geo = new google.maps.Geocoder();
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -8.0624203, lng: -34.9270747 }, /* Recife */
            zoom: 15
        })
        
        geo.geocode( { 'address': '<%= @e.address %>' }, function(results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                console.log('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_VH_8voCP76YUOPKhmIsTaWwhN3rHK0M&libraries=places&callback=initMap" async defer></script>
    
</script>
